:root {

     /*Establishes all the main colours */
    --border-colour: #1c658e;
    --green-fill: #5a9e7b;
    --primary-colour: #fff; 

    /*overall font size*/
    --root-font-size: 16px;
    font-size: var(--root-font-size);

    /*font families*/
    --font-family: "Montserrat", sans-serif;
}

/*box-size model*/
*,
*::before,
*::after
{
    box-sizing: border-box;
}

/*remove margin*/
*
{
    margin: 0;
}

body 
{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased; 
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;}

/*Remove default typography styles and replace*/
input, 
button, 
textarea, 
select {
    font: inherit;
}

@font-face
{
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

p,
h1, 
h2, 
h3, 
h4, 
h5, 
h6
{
    overflow-wrap: break-word;
}

@font-face
{
font-family: "Montserrat";
src: url:("assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

/*Added the background image.*/
body
{
    color: var(--primary-color);
    font-family: var(--font-family);
    margin: 0 10px;
    background-image: url("assets/images/forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

   
/*Formatted the rock-paper-scissors heading.*/ 
    .game-container
    {
    width: 100%;
    max-width: 900px;
    background-color: rgba(28, 104, 04, 0, 4);
    border: 3px solid var(--border-color);
    border-radius: 20px;
    overflow: hidden;
    }

    .header
    {
        padding: 10px 0;
        border-bottom: 3px solid var (var(--border-color));
        border-radius: 20px 0 0;
        background-color: var(--green-fill);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
        font-weight: 700;
        font-size: 1.5rem;
        margin: 0;
    }

   /*Formatted the rock-paper-scissors text (not on the buttons).*/  
    .choices-container
    {
        padding: 20px 0;
        display: flex;
        justify-content: space-evenly;

        color: var (var(--primary-colour));
        text-shadow: -2px -2px 0 var (var(--border-colour), 2px -2px 0 var(--border-colour)),
        -2px 2px 0 var(--border-color), 2px 2px 0 var(--border-color),
        -2px 0 0 var(--border-color), 2px 0 0 var(--border-color),
        0 -2px 0 var(--border-color), 0 2px 0 var(--border-color);
        letter-spacing: 2px;
        font-weight: 700;
    }

    .left,
    .center,
    .right
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
.pokemon-choice
{
    position: relative;
    width: 150px;
    top: 50px;
}

.computer-choice .pokemon-choice
{
    transform: scaleX(-1);
}

.stage
{
    display: flex;
    flex-direction: column;
    min-height: 280px;
    justify-content: flex-end;
    align-items: center;
}

.player-score,
.computer-choice
{
    margin-top: 20px;
    font-size: 1.4rem;
}

.versus
{
    font-size: 2rem;
}

.final-result-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 250px;
}

.final-result-text


